body {
    padding: 10px;
}
.color-box {
    border-radius: 3px;
    width: 16px;
    height: 16px;
    border: 1px solid gray;
    display: inline-block;
    margin-right: 2px;
}
.linkage {
    border-radius: 5px;
    background-color: gray;
    x-font-weight: bold;
    padding: 2px 5px;
    margin: 0px 4px;
    font-size: .8em;
    color: white;
    text-decoration: none;
}
